extends layout

block content
  p As a student, you're used to doing things your own way. If this sounds right to you, we think you'll like it here. Because at AskIt we're all about removing the obstacles that stand in the way of the education YOU want and deserve. Search for free questions and answers- all in one big education-redefining student hub. AskIt Help students save time, save money and get smarter. Ask it helps students all around the world No ads, no subscriptions. We are a not‑for‑profit because we believe in free, world-class education for anyone, anywhere. We rely on our community of thousands of volunteers and donors. Learn more about getting involved today.
