doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      h1 AskIt 
      div(id=nav-bar)
        a(href="/feed") feed
        |
        a(href="/submit") ask a question 
        |
        a(href="/profile") profile
        |
    block content
