doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      h1 AskIt
      div(id=nav-bar)
        a(href="/") FEED
        |
        a(href="/submit") ASK A QUESTION
        |
        a(href="/profile") PROFILE
        |
        |
      div(id=cat-bar)
        a(href="/") MATH
        |
        a(href="/") SCIENCE
        |
        a(href="/") HISTORY
        |
        a(href="/") COMPUTER SCIENCE
        |
        a(href="/") MUSIC
        |
        |
    block content
