doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      h1= title
      div(id=nav-bar)
        a(href="/") feed
        a(href="/profile") profile
    input(type='text', placeholder='Search..')
    block content
