doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      h1= title
      div(id=nav-bar)
        a(href="/") feed
        a(href="/profile") profile
    block content
    app.get('/search/:query', function(req, res) {
      let results = searchEngine.runSearch(req.query);
      res.render('results', { results: results });
    });
