extends layout

block content 
  // Title
  h1= question.title
  p= question.content
  // each answer in question.answers
  //   div
  //     h3= answer.title
  //     p= answer.content
  //     b By #{answer.author}
