body {
  padding-left: 50px;
  font: 20px "Arial", sans-serif;
  color: white;
  background: #444443;

}

a {
  color: #c1c0bf;
  padding-left: 1vw;
  padding: 10px;

}

ul {
  list-style-type: none;
}

li {
  padding-top: 0.5vh;
}
