body {
  /* //padding: 50px; */
  font-family: "Roboto", sans-serif;
  /* text-align: center; */
  /* //background-color:Tomato; */
  color: #444443;
  background: #E2EFFF;
  /* //background-image: url("simple.png"); */
  margin: 0;
  padding-left: 2vh;

}

label {
  padding-right: 1vw;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Anton";
}

/*h1 {
  background-color:gray;
} */
h2 {
  padding: 20px;
  background-color: white;
  height: 10%;
  width: 95%;
  /* background-position: center; */
  /* text-align: center; */
  font-size: 50px;
}

h3 {
  text-align: right;
  position: absolute;
  top: 5px;
  right: 20px;

  padding: 10px;
  font-size: 17px;
  float: left;
}

h4 {
  font-size: 25px;
}

a {
  color: #707070;
  padding-left: 1vw;
  padding: 10px;
  font-size: 20px; 
}

ul {
  list-style-type: none;
}

input {
  padding-left: 10px;
}

search-bar {
  margin-right: 20px;
}

h6 {
  position: relative;
  font-size: 25px;
  bottom: 0px;
}
