body {
  //padding: 50px;
  font: 20px "Bradley Hand ITC"; //, Helvetica, Arial, sans-serif;
  text-align: center;
  //background-color:Tomato;
  color: white;
  background: black;
  //background-image: url("simple.png");


}

a {
  color: #c1c0bf;
  padding-left: 1vw;
}

ul {
  list-style-type: none;
}
